.container {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    text-align: center;
}

.tittle {
    margin: 0 auto;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 800px;
}

.formCards {
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    width: 8%;
    text-align: center;
}

.formInput {
    color: #000000;
    border-style: solid;
    border-color: black;
    padding: 15px;
    width: 100%;
    display: block;
    font-size: 14px;
}