.btnBack{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.btnBack:hover{
    color: #D90102;
}