.navbar{
    align-items: center;
    background-color: rgb(95, 95, 95);
}

.nav-item{
    justify-content: center;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    margin-inline: 12px;
    color: black;
    padding: 7px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: .5s ease-in;
}

.nav-item:hover{
    color: white;
}

.logoNav{
    width: 210px;
    height: 210px;
    position: absolute;
    top: 0%;
    left: 10%;
}