.navbar{
    align-items: center;
    background-color: rgb(102, 102, 102);
}

.nav-item{
    justify-content: center;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    margin-inline: 10px;
    color: black;
    padding: 7px;
    font-weight: 600;
    font-size: 26px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.nav-item:hover{
    color: white;
}

.logoNav{
    width: 210px;
    height: 210px;
    position: absolute;
    top: 0%;
    left: 10%;
}